{% extends "base.html" %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %} 

<div class="chat-container">
  
  {% for message in messages %}
  <div id="messageContainer" class="{% if message.author == request.user %}message-right{% else %}message-left{% endif %}">
    <div class="message-container">
      <span class="author"><b>{{ message.author.username }}</b></span>
      <span class="author-text">{{ message.text }}</span>
      <div class="text-right"><span class="color">{{ message.created_at }}</span> </div>
    </div>
  </div>
  {% endfor %}
  
  
  <form onsubmit="sendMessage(); return false;" method="post" class="inputfield">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input
        class="mdl-textfield__input"
        name="textmessage"
        type="text"
        id="messageField"
      />
      <label class="mdl-textfield__label" for="messageField">Text...</label>
    </div>
    <button
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    >
      Send
    </button>
  </form>
  
</div>
{% else %}

<h1>Nicht eingeloggt</h1>
<p>
  Du bist aktuell nicht eingelogt. Bitte logge dich ein. <br />
  bitte klicke <a href="/login/">hier</a>
</p>
{% endif %} 

<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
