{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="register-container">

  {% if wrongPassword %}
  <p>Das Passwort stimmt nicht überein!</p>
  {% endif %}
  
  <form method="POST" action="/register/" class="register" id="register-form">
    {% csrf_token %}
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input
        name="username"
        class="mdl-textfield__input required-input"
        type="text"
        id="sample1"
      />
      <label class="mdl-textfield__label" for="sample1">Username</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input
        name="password"
        class="mdl-textfield__input required-input"
        type="password"
        id="sample2"
      />
      <label class="mdl-textfield__label" for="sample2">Password</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input
        name="checkpassword"
        class="mdl-textfield__input required-input"
        type="password"
        id="sample3"
      />
      <label class="mdl-textfield__label" for="sample3">Repeat Password</label>
    </div>
    <button
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" disabled id="register-btn"
    >
      Register
    </button>
  </form>
  
</div>

<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
